.instagram-float {
  position: fixed;
  bottom: 90px; 
  right: 20px;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  padding: 14px;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  z-index: 9999;
  transition: 0.3s;
}

.instagram-float:hover {
  transform: scale(1.1);
}